<div class="container mt-4">
  <div class="card">
    <div class="card-header text-bg-info h4">{{offreStage.poste}}</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Poste</th>
          <th>Entreprise</th>
          <th>Description</th>
          <th>Date de debut</th>
          <th>Date de fin</th>
          <th>Technologie</th>
          <th>Admin</th>
          <th>Etudiant</th>
        </tr>
        </thead>
        <tbody class="table">
        <tr>
          <td> {{offreStage.id}}</td>
          <td> {{offreStage.poste}}</td>
          <td> {{offreStage.entreprise}} </td>
          <td> {{offreStage.description}} </td>
          <td> {{offreStage.dateDebut}} </td>
          <td> {{offreStage.dateFin}} </td>
          <td> {{offreStage.technologie}} </td>
          <td> {{offreStage.admin}} </td>
          <td> {{offreStage.etudiantDTO.prenom}} </td>
          <td>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
