<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-lg-4">
  <h1 class="display-4">Page d'accueil</h1>
  <div class="jumbotron">
    <h1>Plateforme de gestion des stages</h1>
    <hr class="my-4">
    <main>
      <section>
        <h2>Bienvenue sur notre plateforme de gestion des stages</h2>
        <a href="https://www.enset-media.ac.ma/" class="btn">En savoir plus</a> <!-- Ajoutez une classe CSS pour le style du bouton -->
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Plateforme de gestion des stages</p>
    </footer>
  </div>
</div>



