<!DOCTYPE html>
<html>
<head>
  <title>Espace Étudiant</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .container {
      background-color: #fff;
      padding: 30px;
      margin-top: 50px;
      border-radius: 5px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
<div class="container">

  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Bienvenue dans votre espace étudiant</h1>
    </div>
  </div>
      <br>
      <br>
      <br>
  <div class="row">
    <div class="col-md-6">
      <h3>Gérer votre profil et vos informations personnelles :</h3>
      <p>Vous pouvez mettre à jour vos informations personnelles, telles que votre nom, prénom, adresse, etc.</p>
      <!-- Edit -->
        <button (click)="Edit()" class="btn btn-primary align-content-center">
          <i class="bi bi-pencil"> Editer</i>
        </button>
    </div>
    <div class="col-md-6">
      <h3>Consulter les offres de stages :</h3>
      <p>Parcourez les différentes offres de stages disponibles. Vous y trouverez des informations sur les titres des stages, les compétences requises, la durée, etc.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Déposer un projet, commenter et télécharger les fichiers correspondants :</h3>
      <p>Vous avez la possibilité de déposer un projet, d'ajouter des commentaires et de télécharger les fichiers liés à votre projet.</p>
    </div>
  </div>


</div>

</body>
</html>
