<div class="container mt-4">
  <div class="card">
    <div class="card-header text-bg-info h4">{{postes.tag}}</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Autheur</th>
          <th>Description</th>
          <th>Date</th>
          <th>Tag</th>
        </tr>
        </thead>
        <tbody class="table">
        <tr>
          <td> {{postes.id}}</td>
          <td> {{postes.titre}}</td>
          <td> {{postes.autheur}} </td>
          <td> {{postes.description}} </td>
          <td> {{postes.date}} </td>
          <td> {{postes.tag}} </td>
          <td>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
